<!-- stats section -->
<section class="w3-bottom-stats py-5">
    <div class="container py-md-5 py-4">
        <div class="row">
            <div class="col-md-7 pr-lg-5">
                <h5 class="text-new mb-4">
                    Merhaba. <br>36 Yıldır Hizmetinizdeyiz. <br>En
                    iyisini
                    biz yapıyoruz !
                </h5>
                <p class="mb-3">
                    Zengin ve çeşitli menüsü, özenle hazırlanan yemekleri ve misafirperver hizmetiyle Hamfood, damakları şımartıyor.
                </p>
                <p>
                    Hamfood, 36 yıldır lezzet ve kaliteyle tanışanların vazgeçilmez adresi olmaya devam ediyor. 
                    Her tabak, yılların deneyimi ve tutkusuyla sunuluyor, bu da Hamfood'u ayrıcalıklı kılıyor. 
                    Yıllara meydan okuyan bir lezzet deneyimi için sizi Hamfood'a davet ediyoruz.
                </p>
                <a href="/" class="btn btn-style-white btn-style-primary mt-lg-5 mt-4">Daha Fazlasını Keşfet</a>
            </div>
            <div class="col-md-5 mt-md-0 mt-5">
                <div class="counter text-center">
                    <div class="timer count-title count-number" data-to="6370" data-speed="1500"></div>
                    <p class="count-text mt-2">aşkın mutlu müşterİ</p>
                </div>
                <div class="counter text-center mt-5">
                    <div class="timer count-title count-number" data-to="421" data-speed="1500"></div>
                    <p class="count-text mt-2">usta şefler</p>
                </div>
                <div class="counter text-center mt-5">
                    <div class="timer count-title count-number" data-to="7300" data-speed="1500"></div>
                    <p class="count-text mt-2">SİPARİŞ hem de her gün!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats section -->