@using HamFood.Core.Application.Dtos.CategoryDtos;
@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner banner -->
<div class="inner-banner">
    <div class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Menümüz</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Menü</li>
            </ul>
        </div>
    </div>
</div>
<!-- //inner banner -->
<!-- menu -->
<div class="menu-w3ls py-5" id="menu">
    <div class="container py-md-5 py-4">

        @foreach (var item in Model)
        {
            <h3 class="title-big mb-2">@item.CategoryName</h3>
            <div class="row menu-body">
                @foreach (var menu in item.Menus)
                {
                    <!-- Item starts -->
                    <div class="col-lg-6 menu-section">

                        <div class="menu-item">
                            <div class="row no-gutters">
                                <div class="col-9 menu-item-name">
                                    <h6>@menu.MenuName</h6>
                                </div>
                                <div class="col-3 menu-item-price text-right">
                                    <h6>@menu.MenuPrice ₺</h6>
                                </div>
                            </div>
                            <div class="menu-item-description">
                                <p>@menu.MenuDesc</p>
                            </div>
                        </div>

                    </div>

                    <hr />

                    <!-- Item ends -->
                }

            </div>
            <br />
            <hr />
        }



    </div>
</div>
<!-- //menu -->