
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Hakkımızda</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Hakkımızda</li>
            </ul>
        </div>
    </section>
</div>
<!-- //inner banner -->
<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-md-5 py-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Bistros-Starter/assets/images/about3.jpg" alt="" class="img-responsive img-fluid" />
                    <div class="row mt-3">
                        <div class="col-6 img-pad">
                            <img src="~/Bistros-Starter/assets/images/about4.jpg" alt="" class="img-responsive img-fluid" />
                        </div>
                        <div class="col-6 img-pad-2">
                            <img src="~/Bistros-Starter/assets/images/about5.jpg" alt="" class="img-responsive img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-6-info mb-lg-0 mb-4 pl-lg-5 pr-lg-5">
                    <h3 class="title-style mb-3">Hakkımızda Bir Kaç Şey</h3>
                    <p>
                        Hamfood, 36 yıllık köklü deneyimiyle geleneksel ve çağdaş lezzetleri bir araya getiren bir yemek destinasyonudur. 1987'den bu yana, mutfağımızda taptaze malzemeler ve ustalıkla hazırlanan yemekler sunarak misafirlerimize unutulmaz bir deneyim sunuyoruz.
                    </p>
                    <p class="mt-4">
                        Hamfood'un özünde, yemek yapma sanatının sevgiyle birleştiği bir mutfak kültürü yatmaktadır. Her yemek, titizlikle seçilmiş malzemeler ve şeflerimizin özenli eliyle hazırlanır. Restoranımız, her damak tadına hitap eden geniş bir menü sunarken, aynı zamanda lezzetin ve kalitenin öncüsüdür.

                        Misafir memnuniyeti her zaman önceliğimiz olmuştur. Sıcak ve samimi bir atmosferde, dostça bir hizmet sunarak Hamfood'u daha fazla kişiye ulaştırmayı amaçlıyoruz. Sizleri lezzetlerimizin büyüleyici dünyasına davet ediyor ve Hamfood ailesinin bir parçası olmanız için sabırsızlanıyoruz. Bizimle birlikte yemek kültürünün tadını çıkarın ve bize eşsiz hikayemizin bir parçası olma fırsatı verin.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->

